{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'laboratory.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>WELCOME</h1>
      <p>
        Our hospital is here to provide the best services for you please loggin
        or sign up for our services
      </p>
      <form action="login" method="post">
        {%csrf_token%}
        <button>Login</button>
      </form>
      <form action="signup" method="post">
        {%csrf_token%}
        <button>Signup</button>
      </form>
    </main>
  </body>
</html>
